/*
h1 - 48px
h2 - 36px
h3 - 28px
all other text - 21px

colors: 
   #588C94 
   #1D3C41
*/
h1 {
    
}

h2 {
    
}

h3 {

}

body {
    margin: 0;
}

header {
    background-color: #588C94;
    color: white;
    text-align: center;
    padding: 10px 30px;
    
}

main {
    text-align: center;
    margin: 80px 50px;
    color: grey;  
}

footer {
    background-color: #1D3C41;
    color: white;
    display: flex;
    padding: 10px;
}

.column{
    margin-left: 10px;
    text-align: center;
    
}
